# Ignore all files, but allow all directories.
*
!.gitignore
!*/
!*/**/

# Configuration.
!.markdownlintrc
!tsconfig.json
!typedoc.json
!eslint.config.js

# Documentation.
!README.md
!/SECURITY.md
!/CHANGELOG.md
!/LICENSE.txt
!/CODE_OF_CONDUCT.md
!/CONTRIBUTING.md

# GitHub.
!.github/ISSUE_TEMPLATE/**/*.md
!.github/workflows/**/*.yaml
!.github/scripts/**/*.sh

# Node ecosystem.
!package.json
!package-lock.json

# TypeScript source.
!src/**/*.ts
!tests/**/*.test.ts

# Generated docs.
!docs/**/*.md
!docs/**/*.html
!docs/**/*.css
!docs/**/*.js
!docs/**/*.svg
!docs/**/*.txt
!docs/.nojekyll

# Disallow completely.
/node_modules
/.focus
.local/
